{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content%}

    <img src="../static/Fuel-Tracker-16-07-2024.png" alt="Fuel Tracker"><br>

    <h3>About this Project:</h3>
    This is my basic project to understand how Flask works and relearn programming.  
    So far it's hard finding the time to get the work done but I'm chipping away at it wherever possible!  
    I'm on holiday in Abersoch, Wales, at the moment writing this while the rest of the family is making BBQ.<br><br>

    <h3>Things to do:</h3>
    <li>Popup message to say if new record successful.</li>
    <li>Add page to add a new vehicle.</li>
    <li>Add security to the database.</li>
    <li>Create a login/out page.</li>
    <li>Create a page to view the data for each vehicle.</li>
    <li>Make lots of pretty graphs.</li>
    <li>MPG calculator and all that other stuff.</li>
    <li>Currency converter.</li>

{% endblock %}