{% extends "base.html" %} 
{% block title %}About{% endblock %}
{% block content%}

<h1>About</h1><br>

<h3>Updates:</h3>
<li>2024-07-18 23:54 - Git Push Got adding of records and new vehciles to work.  Had problems with users being able to see eachothers vehicles but now they can only see their own.</li>
<li>2024-07-18 20:25 - Git Push Completely changed the setup.  Now using flask_login to athenticate the user and moved the database access and setup to sqlalchemy.  Need to rework record adding and reading of the database.</li>
<li>2024-07-17 23:48 - Git Push Added new-vehicle page, about page and updated read me.</li>
<li>2024-07-17 23:14 - Git Push Updated readme doc and added GBP dropdown to add_record.html</li>
<li>2024-07-17 13:49 - Git Push Added flashing messages to add-record and sql query!</li>
<li>2024-07-16 16:46 - Git Push Added a bit of formatting and a navigation bar!</li>



{% endblock %}