{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content%}

    <img src="../static/Fuel-Tracker-16-07-2024.png" alt="Fuel Tracker"><br>

    <h3>About this Project:</h3>
    This is my basic project to understand how Flask works and relearn programming.  
    So far it's hard finding the time to get the work done but I'm chipping away at it whenever possible!<br><br>

    <h3>Things to do:</h3>
    <li>Import and export funtion of a CSV file.</li>
    <li>Create a way to remove records.</li>
    <li>Create a page to view the data for each vehicle.</li>
    <li>Make lots of pretty graphs.</li>
    <li>MPG calculator and all that other stuff.</li>
    <li>Currency converter.</li>
    <li>Make about page update automatically?</li>
    <li>Create admin section to manage all the user and records.</li>

{% endblock %}