{% extends "base.html" %} 
{% block title %}Home{% endblock %}

{% block head_ext %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        img {
            width: 100%;
            height: auto;
        }
    </style>
{% endblock %}

{% block content%}

    <img src="../static/Fuel-Tracker-16-07-2024.png" alt="Fuel Tracker"><br>

    <h3>About this Project:</h3>
    This is my basic project to understand how Flask works and relearn programming.  
    So far it's hard finding the time to get the work done but I'm chipping away at it whenever possible!<br><br>

    <h3>Things to do:</h3>
    <li>Vehicle details? including fuel type, be able to view trends of fuel cost.</li>
    <li>View fuel cost data of all viehicles including other users but only necessary data</li>
    <li>Make about page update automatically?</li>
    <li>Create admin section to manage all the user and records.</li>
    <li>Email verify and password reset</li>
    <li>Inflation calculator</li>

{% endblock %}