{% extends "base.html" %} 
{% block title %}Import CSV{% endblock %}
{% block content%}

    <h1>Import CSV</h1>
    <h3>Formatting:</h3>
    <h5>Standard Format:</h5>
    vehicle_name.csv<br>
    dd/mm/yy, 12345, 12.34, 12.34, GBP<br>

    <li>The name of the vehicle added needed to be the name of the csv file.</li>
    <li>There is no key row in the file</li>
    <li>The column order is: date, mileage, litres, cost, currency(optional)</li><br><br>

    <h5>Optional Formatting:</h5>
    <h6>Table Key Row:</h6>
    <li>The first row must be a key row.</li>
    <li>File name is ignored.</li>
    <li>If you are adding multiple vehicles in on CSV file check this.</li>
    <li>If the columns are in a different order check this.</li>
    <li>column names must be: vehicle(optional), date, mileage, litres, cost, currency(optional)</li>


    <br><br>
    <h3>Upload File:</h3>
    <form method=post enctype=multipart/form-data>
        <input type="checkbox" name="key" value="key">
        <label for="key"> Table Key Row</label><br>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>

{% endblock %}