{% extends "base.html" %} 
{% block title %}Mileage Change{% endblock %}

{% block head_ext %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block content %}
        <h1>Mileage Change</h1>
        <form method="post">
            Vehicle: &emsp;
            <select name="vehicle" id="vehicle">
                {% for vehicl in vehicles %}
                    {% if vehicl == vehicle %}
                        <option value="{{vehicl}}" selected>{{vehicl}}</option>
                    {% else %}
                        <option value="{{vehicl}}">{{vehicl}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            &emsp;
            <button type="submit">Submit</button>
        </form>
        
        <br>
        
        <canvas id="myChart" style="width:100%"></canvas>

        <script>
            new Chart("myChart", {
                type: "line",
                data: {
                    labels: {{ labels | safe }},
                    datasets: [{
                        backgroundColor:"rgba(0,0,255,1.0)",
                        borderColor: "rgba(0,0,255,0.1)",
                        data: {{ values | safe }}
                    }]
                }
            });
        </script>
{% endblock %}