{% extends "base.html" %} 
{% block title %}New Vehicle{% endblock %}

{% block content %}
    <h1>New Vehicle</h1>
    <form method="post">
        Date:<br>
        <input type="date" id="date" name="date"><br>
        Vehicle Name:<br>
        <input type="text" name="vehicle" id="vehicle" placeholder="Vehicle"><br>
        Mileage:<br>
        <input type="number" name="mileage" id="mileage" placeholder="12345"><br>
        Litres of Fuel:<br>
        <input type="text" name="litres" id="litres" placeholder="1.23"><br>
        Cost to fill up:<br>
        <input type="text" name="cost" id="cost"  placeholder="1.23"><br>
        Currency:<br>
        <select name="currency" id="currency">
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
        </select><br><br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}